.header {
  padding-block: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__right-menu {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
}
