@use "../vars";

.search {
  display: flex;
  align-items: center;
  background-color: vars.$color-accent;
  border-radius: vars.$border-radius;
  margin-bottom: 45px;

  &__input {
    width: 100%;
    border: none;
  }

  &__button {
    height: vars.$input-height;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 17px;
    column-gap: 6px;
    font-size: 16px;
    border-right: 3px solid transparent;
  }
}
